@import "../../App.scss";

.comment-grand-wrapper {
  $base-color: adjust-color($secondary-color, $lightness: 10%);
  background-color: rgba($base-color, 0.6);
  &:nth-child(2n) {
    $next-color: adjust-color($primary-color, $lightness: 20%);
    background-color: rgba($next-color, 0.6);
  }

  width: 100%;
  min-height: 5rem;

  display: flex;
  align-self: flex-start;
  justify-content: space-between;

  &__text {
    margin: 0.5rem;

    h4 {
    }
    p {
    }
  }
  .delete-button {
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 0 0 0 0.5rem;
    background-color: black;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}
