@import "../../App.scss";

.room-detail-grand-wrapper {
  &__chat-block {
    width: 100%;
    display: flex;
    &__user-list {
      width: 20%;

      h3 {
        margin: 1rem;
      }
    }
    &__user-item {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &__avatar {
        height: 3rem;
        width: 3rem;
        border: $border;
        border-radius: 50%;
        margin: 0.5rem;

        font-size: 1.25rem;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__chatroom {
      margin-left: 2.5%;
      width: 75%;
      height: 45rem;
      border: $border;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 0.5rem;
      background-color: rgba($light-green, 0.3);

      &__messages-wrapper {
        margin: 2rem;
        height: 35rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
      }
      &__input {
        width: 100%;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($primary-color, 0.6);
        &__audio-icon {
          height: 4rem;
          width: 4rem;
          border-radius: 0.5rem;
          background-color: gray;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2.5rem;
          transition: 0.2s;

          &:hover {
            background-color: black;
            color: white;
          }
        }
        > form {
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          > input {
            height: 3rem;
            width: 100%;
            margin: 2rem;
          }

          .submit-button {
            width: 3rem;
            height: 3rem;
            flex-shrink: 0;

            @include send-button;
          }
          .submit-button--audio {
            background-color: $primary-color;
            margin-left: 1rem;
            &:hover {
              background-color: $secondary-color;
            }
          }
        }
      }
      &__input--audio {
        background-color: $secondary-color;
      }
    }
  }
}
