@import "../../App.scss";

.room-detail-grand-wrapper {
  &__chat-block {
    width: 100%;
    display: flex;
    &__user-list {
      width: 20%;

      h3 {
        margin: 1rem;
      }
    }
    &__user-item {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &__avatar {
        height: 3rem;
        width: 3rem;
        border: solid;
        border-radius: 50%;
        margin: 0.5rem;

        font-size: 1.25rem;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__chatroom {
      margin-left: 2.5%;
      width: 75%;
      border: 1px solid;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 0.5rem;

      &__messages-wrapper {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
      }
      &__input {
        width: 100%;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        &__audio-icon {
          height: 4rem;
          width: 4rem;
          border-radius: 0.5rem;
          background-color: gray;

          &:active {
            background-color: black;
          }
        }
        > form {
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          > input {
            height: 3rem;
            width: 100%;
            margin: 2rem;
          }

          .submit-button {
            background-color: $secondary-color;
            margin: 1rem;
            width: 2rem;
            height: 3rem;
            flex-shrink: 0;
            border: none;
            border-radius: 0.5rem;
          }
          .submit-button--audio {
            background-color: $primary-color;
          }
        }
      }
      &__input--audio {
        background-color: $secondary-color;
      }
    }
  }
}
