@import "../../App.scss";

.resources-grand-wrapper {
  @include route-scroll;
}

.resources {
  &__teacher-pack {
    margin: 4rem;
    width: 90%;

    .teacher-pack__heading {
      font-size: 3.2rem;
      text-align: left;
    }

    .teacher-pack__row {
      padding: 1.6rem 0;
      display: flex;
      justify-content: space-between;
    }

    .teacher-pack__action {
      display: flex;
      justify-content: center;
    }
  }

  &__extra {
    margin: 0 4rem;
  }
}
