@import "../../App.scss";

.assignment-detail-grand-wrapper {
  @include route-scroll;

  display: flex;
  flex-direction: column;
  align-items: center;

  .error {
    background-color: rgba($red, 0.2);
    border: lighten($red, 10%);
    border-radius: 5px;
    margin-top: 1rem;
    padding: 1rem 0;
    text-align: center;
  }

  &__submission-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > button {
      @include primary-button;
      width: 15rem;
      font-size: $L;
      margin: 2rem 0;
    }
  }

  &__text-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__left-block {
      width: 40%;
      h2 {
        padding: 0 0 2rem 4rem;
      }
    }
    &__right-block {
      width: 60%;
      text-align: right;
      padding: 4rem;
    }
  }
  &__content-wrapper {
    margin-top: 7vh;
    width: 100%;
    height: 46rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-evenly;

    &__preview {
      height: 40vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      .preview-icon {
        margin-left: -2rem;
        // border:solid;
        width: 20rem;
        height: 20rem;
        flex-shrink: 0;
        background-repeat: round;
        &.wordDoc {
          background-image: url("../../assets/wordDoc.png");
          background-repeat: round;
        }
        &.powerpoint {
          background-image: url("../../assets/powerpoint.png");
          background-repeat: round;
        }
        &.pdf {
          background-image: url("../../assets/pdf.png");
          background-repeat: round;
        }
      }
      &__button-wrapper {
        height: 9vh;
        width: 90%;
        display: flex;
        justify-content: space-between;
        button {
          @include primary-button;
          margin: 1rem;

          &.heart {
            background-color: $primary-color;
            font-size: 2rem;
            color: red;
            > * {
              margin-top: 5px;
            }
          }
          &:hover {
            background-color: $light-orange;
          }
        }
      }
    }
  }
  &__comment-wrapper {
    margin: -10rem 2rem 0;
    padding: 0 1rem 1rem 1rem;
    width: 50%;
    align-self: flex-start;
    // border: solid red;

    &__comments {
      height: 40rem;
      overflow-y: scroll;
      border-bottom: $border;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .no-comments {
        text-align: center;
        margin-bottom: 30%;
        font-size: 2.5rem;
      }
    }
    form {
      padding-top: 1rem;
      display: flex;
      justify-content: flex-end;
      input {
        width: 40rem;
        height: 3rem;
      }
      button {
        margin-left: 1rem;
        height: 3rem;
        width: 3rem;

        @include send-button;
      }
    }
  }
}
