@import "../../App.scss";

.nav-grand-wrapper {
  height: 91vh;
  width: 15%;
  flex-shrink: 0;
  background-color: $secondary-color;

  &__link-wrapper {
    > a {
      text-decoration: none;
    }
    &__link-text {
      margin-right: 10%;
      width: 90%;
      padding: 2rem 1rem;

      text-align: right;
      font-weight: bold;
      color: black;
    }
  }
}
