@import "../../App.scss";

.audio-capture-grand-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__buttons-wrapper {
    margin-left: 2rem;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;

    &__button {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $M;

      &:focus {
        outline: none;
        border: $light-orange solid;
      }
    }
    #startButton {
      background-color: $main-green;
    }
    #stopButton {
      background-color: $red;
    }
  }

  &__audio-elements-wrapper {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .audInput {
    height: 0px;
    width: 0px;
  }
  .audOutput {
    height: 4rem;
    width: 30rem;
    border: 0.25rem solid $secondary-color;
    border-radius: 0.5rem;
    background-color: rgb(240, 240, 240);
  }
}
