// varela round regular
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Varela+Round&display=swap");

$main-orange: #e8aa64;
$light-orange: adjust-color($main-orange, $lightness: 20%);

$main-green: #72c1a5;
$dark-green: adjust-color($main-green, $lightness: -20%);
$light-green: adjust-color($main-green, $lightness: 20%);

$background: #dbdab8;

$red: #fc5656;

$primary-color: $main-green;
$secondary-color: $main-orange;

@mixin route-scroll {
  height: 91vh;
  overflow-y: scroll;
}

@mixin primary-button {
  padding: $XXS $S;
  color: white;
  background-color: $dark-green;
  border-radius: $M;
  transition: all 0.1s;

  &:hover {
    background-color: $main-green;
    color: black;
    cursor: pointer;
  }
  &:focus {
    outline: none;
    border: solid $main-orange;
    border-radius: $M;
  }
}
@mixin popout-left {
  transition: 0.2s;
  &:hover {
    transform: translateX(-1rem);
    cursor: pointer;
  }
}
@mixin rotate-hover {
  transition: 0.1s;
  &:hover {
    transform: rotateZ(3deg);
    background-color: $light-orange;
    cursor: pointer;
  }
}
@mixin send-button {
  background-color: $main-orange;
  color: black;
  padding: $XXS $S;
  border-radius: $M;
  transition: all 0.2s;
  position: relative;
  .send-icon {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    background-color: $main-green;
    color: white;
  }
  &:focus {
    outline: none;
    border: solid $main-green;
    border-radius: $M;
  }
}

$XXS: 0.4rem;
$XS: 0.8rem;
$S: 1.2rem;
$M: 1.6rem;
$L: 2rem;
$XL: 2.4rem;
$XXL: 2.8rem;

$desktop-breakpoint: 45rem;

$shadow-settings: $XXS $XXS $XS $dark-green;
$border: 2px solid;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  background-color: $background;
  background-image: url("./assets/background-tile.png");
  background-repeat: repeat;
}

.app-wrapper {
  display: flex;

  &__router-wrapper {
    flex-grow: 1;
  }

  h1 {
    font-family: "Varela Round";
    padding: 4rem 4rem 2rem 4rem;
  }
}
