@import "../../App.scss";

.student-detail-grand-wrapper {
  @include route-scroll;

  display: flex;
  flex-direction: column;

  &__student-details {
    padding: 4rem;
    width: 100%;
    display: flex;
    align-items: center;

    &__student-name {
      padding-left: $M;
      font-size: 3.2rem;
    }

    &__edit-icon {
      font-size: 1rem;
    }

    &__avatar {
      margin: 0;
      width: 5vh;
      height: 5vh;
      border: solid;
      border-radius: 50%;

      background-image: linear-gradient(
        white,
        $secondary-color,
        $secondary-color
      );
    }
  }

  &__tasks {
    display: flex;
    flex-direction: column;

    &__subtitle {
      padding-left: 4rem;
      margin-bottom: 2rem;
    }
  }

  &__room {
    &__subtitle {
      margin: 4rem 0 2rem 4rem;
    }
    &__chat-preview-wrapper {
      width: 80%;
      margin-left: 10%;
    }
  }
}
