@import "../../../App.scss";

.edit-course-form {
  border: $border $dark-green;
  border-radius: 0.5rem;
  width: 30%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  > * {
    margin: 1rem;
  }
}
