@import "../../App.scss";

.task-preview-grand-wrapper {
  border: $border;
  border-bottom: none;
  padding: $M;

  width: 80%;
  margin: 0 10%;
  background-color: rgba($light-orange, 0.6);

  &:first-of-type {
    border-radius: $XS $XS 0 0;
  }
  &:last-of-type {
    border-bottom: 1px solid;
    border-radius: 0 0 $XS $XS;
  }
}

.task-preview {
  &__header {
    display: flex;
    justify-content: space-between;

    .header__dropdown-icon {
      font-size: 3rem;
      cursor: pointer;
    }
  }

  &__content {
    .content__main {
      display: flex;
      justify-content: space-between;
      margin: 1.6rem 0;

      p {
        width: 85%;
      }
    }

    .content__picture {
      border: 1px solid black;
      height: 10rem;
      width: 8rem;
    }

    .content__buttons {
      display: flex;
      justify-content: center;

      button {
        margin: 0 0.8rem;

        @include primary-button;

        a {
          text-decoration: none;
        }
      }
    }
  }
}
