@import "../../App.scss";

.avatar-grand-wrapper {
  height: 5rem;
  width: 5rem;
  border: $border;
  border-radius: 50%;
  margin: 0.5rem;
  flex-shrink: 0;
  font-size: 1.25rem;
  background-color: rgba(white, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  img {
    user-select: none;
    height: 3.6rem;
    width: 3.6rem;
  }
}
