@import "../../App.scss";

.message-grand-wrapper {
  display: flex;
  border-radius: $XS;
  position: relative;
  border-bottom: $border;
  border-color: $main-orange;
  background-color: $light-orange;
  margin: 3px 0;
  padding: 0 1rem;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: $S solid transparent;
    border-right-color: $light-orange;
    border-left: 0;
    border-bottom: $border;
    border-bottom-color: $main-orange;

    margin-top: -0.6rem;
    margin-left: -$S;
  }

  &__avatar {
    height: 3rem;
    width: 3rem;
    border: solid;
    border-radius: 50%;
    margin: $XXS;

    font-size: $S;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__message-block {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .text {
      font-size: 1.5rem;
    }
    .timestamp {
      font-size: 1rem;
      color: gray;
    }
  }
}

.message-grand-wrapper--self {
  align-self: flex-end;
  position: relative;
  background: $light-green;
  border-radius: $XS;
  margin: 3px 0;
  border-bottom: $border;
  border-color: $main-green;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: $S solid transparent;
    border-left-color: $light-green;
    border-right: 0;
    border-bottom: $border;
    border-bottom-color: $main-green;
    margin-top: -6px;
    margin-right: -$S;
  }

  &::after {
    content: none;
  }

  div:first-child {
    margin-left: 0rem;
    margin-right: 1rem;

    .text,
    .timestamp {
      align-self: flex-end;
    }
  }
}
