@import "../../App.scss";

.assignment-preview-wrapper {
  position: relative;
  @include popout-left;

  > button {
    position: absolute;
    top: 0;
    right: 0;
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 0 0 0 0.5rem;
    background-color: black;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}

.assignment-nav-link {
  text-decoration: none;
  color: black;
}

.assignment-grand-wrapper {
  border: $border;
  display: flex;
  justify-content: space-between;
  width: 50vw;
  height: 9.5rem;
  margin-bottom: $L;
  padding: $M $L $L;
  border-radius: $XXS;
  box-shadow: $shadow-settings;
  background-color: rgba($light-green, 0.6);

  &__img-title-name-div {
    display: flex;

    &__title-name-sub-div {
      font-style: italic;
      margin-left: $M;
      h3 {
        font-size: $XXL;
        font-style: normal;
      }
    }

    // &__avatar {
    //   margin: 0 $L 0 $S;

    // }
  }

  &__likes-comments-div {
    display: flex;
    align-items: center;
  }

  &__icon-container {
    display: flex;
    margin-right: $S;

    > * {
      margin-left: $XXS;
    }

    .red {
      color: $red;
    }
    .blue {
      color: $dark-green;
    }
  }
}
