@import "../../App.scss";

.login-grand-wrapper {
  width: 40%;
  margin-left: 30%;
  &__center-block {
    margin-top: 10rem;
    padding: 1rem;
    height: 17rem;
    border-radius: 0.5rem;
    border: solid $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top-row {
      height: 10rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .toggle-button {
        border: none;
        padding: 0.5rem;
        font-size: 0.5rem;
        border-radius: 0.5rem;
        &--teacher {
          background-color: adjust-color($primary-color, $lightness: 20%);
        }
        &--student {
          background-color: adjust-color($secondary-color, $lightness: 10%);
        }
      }
      h2 {
      }
    }
    form {
      height: 10rem;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);

      .align-email {
        grid-row: 1;
      }
      .align-pw {
        grid-row: 2;
      }
      label {
        margin-right: 1rem;
        grid-column: 1;
        text-align: right;
      }
      input {
        border: solid $primary-color 1px;
        border-radius: 0.5rem;
        width: 70%;
        height: 2.5rem;
        grid-column: 2;
      }
      button {
        border: none;
        background-color: $primary-color;
        color: white;
        font-weight: bold;
        border-radius: 0.5rem;
        margin-left: 30%;
        width: 40%;
        grid-column: 1 / 3;
      }
    }
  }
}
