@import "../../App.scss";

.top-page-grand-wrapper {
  margin: $XXL;
  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    width: 30rem;
  }
}

.bottom-half-grand-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  &__textbox {
    margin: 0 5rem;
    width: 40vw;
    text-align: center;
    // border: $border;
    font-size: 2rem;
    margin-bottom: $L;
    padding: $L;
    border-radius: $XXS;
    background-color: rgba($light-orange, 0.8);
    box-shadow: $shadow-settings;

    h1 {
      color: $dark-green;
    }
  }
  &__login-grand-wrapper {
    width: 100%;

    &__center-block {
      height: 22rem;
      width: 60%;
      margin-left: 20%;
      border-radius: 0.5rem;
      border: solid $primary-color;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > form > input {
        padding-left: $XXS;
      }

      &__top-row {
        height: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .toggle-button {
          border: none;
          padding: 0.5rem;
          font-size: 1rem;
          font-weight: bold;
          border-radius: 0 0.25rem 0 0.5rem;
          cursor: pointer;
          &:focus {
            outline: none;
            border-bottom: solid rgba(black, 0.5);
            border-left: solid rgba(black, 0.5);
          }
          &--teacher {
            background-color: adjust-color($primary-color, $lightness: 20%);
            &:hover {
              background-color: adjust-color($primary-color, $lightness: 10%);
            }
          }
          &--student {
            background-color: adjust-color($secondary-color, $lightness: 10%);
            &:hover {
              background-color: $secondary-color;
            }
          }
        }
        h2 {
          margin: 1rem;
        }
      }
      form {
        height: 15rem;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);

        .align-email {
          grid-row: 1;
        }
        .align-pw {
          grid-row: 2;
        }
        label {
          margin-right: 1rem;
          grid-column: 1;
          text-align: right;
        }
        input {
          border: solid $primary-color 1px;
          border-radius: 0.5rem;
          width: 90%;
          height: 2.5rem;
          grid-column: 2;
        }
        button {
          border: none;
          background-color: $primary-color;
          color: white;
          font-weight: bold;
          border-radius: 0.5rem;
          margin: 0 0 1rem 35%;
          width: 30%;

          grid-column: 1 / 3;
          transition: all 0.2s;
          &:hover {
            background-color: $dark-green;
            cursor: pointer;
          }
          &:focus {
            outline: none;
            border: solid rgba(black, 0.5);
          }
        }
      }
    }
  }
}

.register-link-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin: $XL 0;

  > a {
    margin-left: $M;

    > button {
      @include send-button;
      cursor: pointer;
      border-radius: 0.4rem;
      border: none;
    }
  }
}
