@import "../../App.scss";

.event-nav-link {
  text-decoration: none;
  color: black;
}

.event-grand-wrapper {
  border: $border;
  display: flex;
  justify-content: space-between;
  width: 50vw;
  height: 9.5rem;
  margin-bottom: $L;
  padding: $L;
  border-radius: $XXS;
  box-shadow: $shadow-settings;
  background-color: rgba($light-blue, 0.6);
  cursor: pointer;

  &__img-title-name-div {
    display: flex;

    &__title-name-sub-div {
      font-style: italic;

      h3 {
        font-size: $XXL;
        font-style: normal;
      }
    }

    &__avatar {
      margin: 0 $L 0 $S;

      width: 5vh;
      height: 5vh;
      border: solid;
      border-radius: 50%;

      background-image: linear-gradient(
        white,
        $secondary-color,
        $secondary-color
      );
    }
  }

  &__likes-comments-div {
    display: flex;
    align-items: center;
  }

  &__icon-container {
    display: flex;
    margin-right: $S;

    > * {
      margin-left: $XXS;
    }

    .red {
      color: $red;
    }
    .blue {
      color: $main-blue;
    }
  }
}
