@import "../../App.scss";

.student-preview-nav {
  text-decoration: none;
  color: black;
}

.student-preview-grand-wrapper {
  width: 18rem;
  height: 9.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $border;
  margin: 0 $S $XL $S;
  padding: $L;
  border-radius: $XXS;
  box-shadow: $shadow-settings;
  background-color: rgba($light-green, 0.6);

  @include rotate-hover;

  &__name {
    width: 70%;
    font-size: 2rem;
  }

  &__avatar {
    margin: 0 $L 0 $S;
    flex-shrink: 0;
    width: 3vh;
    height: 3vh;
    border: solid;
    border-radius: 50%;

    background-image: linear-gradient(
      white,
      $secondary-color,
      $secondary-color
    );
  }
}
