@import "../../App.scss";

.profile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  &__avatar-wrapper {
    height: 12rem;
    margin-right: 15rem;
    margin-top: 4rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .bigger {
      transform: scale(2);
    }
  }

  &__detail {
    p {
      margin-bottom: 3rem;
    }

    p,
    button {
      margin-left: 4rem;
    }
    button {
      @include primary-button;
    }
  }
}

@media screen and (max-width: 400px) {
  .profile {
    justify-content: center;
    flex-wrap: wrap;

    &__avatar {
      margin-right: 0;
    }

    &__detail {
      margin-left: 0;
    }
  }
}
