@import "../../App.scss";

.header-grand-wrapper {
  width: 100%;
  height: 9vh;
  background-color: $primary-color;

  font-family: "Varela Round", sans-serif;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left-block {
    display: flex;
    align-items: center;
    h1 {
      margin: 1rem 1rem 1rem 2rem;
      font-size: 2.5rem;
      letter-spacing: 3pt;
    }
    &__logo {
      height: 5.5rem;
      width: 5.5rem;
      background-image: url(../../assets/heavystroke-logo.svg);
      background-repeat: round;
    }
  }

  &__right-block {
    > a {
      margin-right: $M;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;

      .smaller {
        transform: scale(0.7);
      }
    }

    h3 {
      color: white;
      height: 100%;
    }
  }
}
