@import "../../App.scss";

.recent-activity-grand-wrapper {
  @include route-scroll;

  width: 100%;
  height: 91vh;
  flex: grow;

  .recent-activity-events-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .nothing-new {
    }
  }
}
