@import "../../App.scss";

.student-task-preview-grand-wrapper {
  border: $border;
  border-bottom: none;
  padding: $M;

  width: 80%;
  margin: 0 10%;
  background-color: rgba($light-orange, 0.6);

  &:first-of-type {
    border-radius: $XS $XS 0 0;
  }
  &:last-of-type {
    border-bottom: 1px solid;
    border-radius: 0 0 $XS $XS;
  }
}

.student-task-preview {
  &__header {
    display: flex;
    justify-content: space-between;

    h2 {
      user-select: none;
    }

    &__icon-div {
      display: flex;
      align-items: center;

      &__dropdown-icon,
      &__submitted-icon {
        font-size: $XXL;
      }

      &__dropdown-icon {
        cursor: pointer;
      }

      &__submitted-icon {
        color: $main-green;
      }
    }
  }

  &__content {
    .content__main {
      display: flex;
      justify-content: space-between;
      margin: $M 0;

      p {
        width: 85%;
      }
    }

    .content__picture {
      border: $border;
      height: 10rem;
      width: 8rem;
    }

    .content__buttons {
      display: flex;
      justify-content: center;

      button {
        margin: 0 $XS;
        @include primary-button;

        a {
          text-decoration: none;
        }
      }
    }
  }
}
